@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Animations
*/
@keyframes fadeScaleIn {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

.fade-scale-in-anin {
  animation: fadeScaleIn 1.5s ease-in-out 0ms 1 reverse backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in-anin {
  animation: fadeIn 1s ease-in-out;
}

/*
  Custom global CSS
*/
a:hover {
  color: #399e9d;
  font-style: italic;
}

.dark a:hover {
  color: #4ed9d6;
}

a:hover .link-box {
  border-color: #399e9d;
}

.dark a:hover .link-box {
  color: #4ed9d6;
}

a:hover span.exception {
  color: #012030;
  font-style: normal;
}

.dark a:hover span.exception {
  color: #fcfcfc;
}

a:hover svg:not(.exception) {
  transform: skewX(-8deg);
}

.content-wrapper {
  display: flex;
  padding: 1rem 2rem 4rem;
  min-height: calc(100vh - 76px);
  max-width: 1600px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding: 1rem 3rem 4rem;
  }
}

/*
  Loading page custom CSS
*/
#loader {
  width: fit-content;
  font-size: 16px;
  clip-path: inset(0 1ch 0 0);
  animation: l4 1s steps(4) infinite;
  font-style: italic;
}

#loader:before {
  content: "Loading...";
}

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

/*
  About page custom CSS
*/
#about-page-avatar {
  transition: all ease-in-out 0.5s;
}

#about-page-avatar:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

#about-page-blurb p strong {
  color: #399e9d;
  font-size: 1.3rem;
  font-weight: 900;
}

.dark #about-page-blurb p strong {
  color: #4ed9d6;
}

#about-page-blurb p a {
  font-weight: 700;
  text-decoration: underline;
}

.dark #about-page-blurb p a {
  font-weight: 900;
}

/*
  Projects page custom CSS
*/
.filter-links {
  margin: 0 10px;
}

.filter-links.active {
  color: #399e9d;
  font-style: italic;
  font-weight: bold;
}

.dark .filter-links.active {
  color: #4ed9d6;
}

.cover-image {
  transition: all ease-in-out 0.5s;
}

.summary-card:hover .cover-image {
  filter: grayscale(0);
  transform: scale(1.1);
}

.summary-card:hover .cover-image-mask {
  opacity: 0;
}

/*
  React Slick custom CSS
*/
.slick-dots {
  bottom: -15px !important;
}

.slick-prev:before,
.slick-next:before {
  color: #012030 !important;
  opacity: 1 !important;
}

.slick-dots li button:before {
  color: #012030 !important;
  opacity: 1 !important;
  width: 25px !important;
  height: 25px !important;
}

.dark .slick-prev:before,
.dark .slick-next:before {
  color: #fcfcfc !important;
  opacity: 1 !important;
}

.dark .slick-dots li button:before {
  color: #fcfcfc !important;
  opacity: 1 !important;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--custom-font-sometype);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
